app {
  .alertCustomCss {
    // text color for basic alerts
    color: white;

    // alert modal page bg color. Warning this will remove the alert transparency
    background-color: color($colors, dark, base);

    button {
      color: white !important; // button text color
      background-color: color($colors, secondary, base) !important;
      //button bg color
    }

    .alert-message {
      color: white; // text color for confirm alerts
    }

    .alert-wrapper {
      background-color: color($colors, dark, base); // bg color of alert content
    }
  }
}
