<ion-header>

  <ion-navbar>
    <ion-title>Result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background: url('assets/img/bg1.png') center; background-size: cover;" *ngIf="status == 1" >
  <div padding style="margin-top: 30em">
    <div>
      <img src="assets/img/cancel.png" alt="Scan" style="margin-left: 5em" width="200px" (click)="cancel()">
    </div>
  </div>
</ion-content>

<ion-content style="background: url('assets/img/bg5.png') center; background-size: cover;"  *ngIf="status == 2">
  <div padding style="margin-top: 30em">
    <div clas>
      <img src="assets/img/close.png" alt="Scan" style="margin-left: 5em" width="200px" (click)="close()">
    </div>
  </div>
</ion-content>

<ion-content style="background: url('assets/img/bg2.png') center; background-size: cover;" *ngIf="status == 3" >
  <div padding style="margin-top: 30em">
    <div clas>
      <img src="assets/img/next.png" alt="Scan" style="margin-left: 5em" width="200px" (click)="next()">
    </div>
  </div>
</ion-content>


